.weather-icon {
  height: 200px;
  width: 200px;
}

.current-display {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  position: relative;
  padding-bottom: 3vh;
}

.add-favorite:hover {
  cursor: pointer;
}

h4 {
  margin: 5px;
}

.background-video {
  object-fit: cover;
  width: 100%;
}

.current-info-div {
  z-index: 10;
}

.video-div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.info {
  background: rgba(97, 97, 97, 0.712);
  border-radius: 10px;
  width: auto;
}