.navbar {
  display: flex;
  justify-content: space-between;
  background: rgba(11, 29, 61, 1);
  height: 10vh;
  align-items: center;
  margin: 0;
}

.title {
  color: white;
  display: none;
}

.title-div {
  margin-right: -16vw;
}

.menu-button-div {
  margin-left: 20vw;
}
.menu-button {
  color: white;
}

.search-form{
  margin-right: 5vw;
}

.search-div {
  width: 350px;
}


@media screen and (min-width: 600px) {
  .title{
    display: contents; 
    font-size: 500%;
    text-decoration: none;
  }
  .title-link {
    text-decoration: none;
  }
  .search-form{
    margin-right: 5vw;
  }
}
@media screen and (min-width: 800px) {
  .navbar {
    height: 15vh;
  }

}